body {

    font-family: cursive;
    text-align: center;
}

.glow {
    color: #fff;
    font-size: 45px;
}

.ShadowText {
    color: white;
    text-shadow: 4px 4px 8px #000000;
    font-size: 35px;
}

#PlayerWholeDivStyle {
    border-radius: 10%;
    width: 33%;
    border: 1px solid;
    box-shadow: 15px 15px yellow;
}

.row {
    text-align: center;
    display: flex;
    align-items: center;
}

#ButtonLogIn {
    font-size: 35px;
}

#ScoreFullOutput1 {
    position: absolute;
    left: 20px;
    top: 0px;
}

#ScoreFullOutput2 {
    position: absolute;
    left: 20px;
    top: 30px;
}

#EquationAnswerInputAndCheckButtonOutput {
    background-color: white;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    border-top: 10px solid red;
    border-left: 10px solid orange;
    border-bottom: 10px solid lime;
    border-right: 10px solid deepskyblue;
}

#Username1Input, #Username2Input {
    text-transform: lowercase;
}